
#root,html,body {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; /* corps du texte */
  }
  ;h1,h2 {
    font-weight: 600;
  }


.hero {
background-image: url("/public/images/hero.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: white;
width: 100vw;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px; /* longueur de la ligne */
  height: 4px; /* épaisseur */
  background-color: #0d6efd; /* bleu Bootstrap */
  border-radius: 2px;
}