
#root,html,body {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; /* corps du texte */
  }
  ;h1,h2 {
    font-weight: 600;
  }


.hero {
background-image: url("/public/images/hero.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: white;
width: 100vw;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px; /* longueur de la ligne */
  height: 4px; /* épaisseur */
  background-color: #0d6efd; /* bleu Bootstrap */
  border-radius: 2px;
}

#rss a i {
 
  color: #bbbbbb;
  transition: color 0.3s ease;
}

#rss a:hover i {
  text-decoration: none;
 color: #ffffff;
font-weight: 700;
}
footer a :hover {
  text-decoration: none;

}
footer a {
  color: inherit; /* garde la couleur actuelle (blanc) */
  text-decoration: none; /* ❌ enlève le soulignement */
  transition: font-weight 0.2s ease, color 0.3s ease;
}
footer a:hover {
  font-weight:700;

}
#btn {
 background-color: red;
  
}
#btn:hover {
transition:background-color 0.2s ease, color 0.3s ease ;
color:rgb(56, 12, 12) ;
}
.separateur-bleu {
  border: none;
  height: 3px;
  background-color: blue;

}